<footer class="bg-white">
  <div class="pt-[70px]">
    <div class="container mx-auto">
      <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-4 md:w-1/2 lg:w-5/12 xl:w-4/12">
          <div class="mb-16 max-w-[270px]">
            <%= link_to root_path, class: 'mb-8 inline-block' do %>
              <%= image_tag('aladdin-logo', alt: "logo", class: "max-w-full", style: 'height: 50px;width: 50px;') %>
            <% end %>

            <div class="space-y-4">
              <p class="flex text-base font-medium text-body-color">
                <span class="pr-4">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.1818 22H15.7987C14.8247 22 14.013 21.188 14.013 20.2136V16.6407C14.013 16.2834 13.7208 15.9911 13.3636 15.9911H10.6688C10.3117 15.9911 10.0195 16.2834 10.0195 16.6407V20.1811C10.0195 21.1555 9.20779 21.9675 8.23377 21.9675H3.78571C2.81169 21.9675 2 21.1555 2 20.1811V8.84531C2 8.3581 2.25974 7.90337 2.68182 7.64352L11.2532 2.21924C11.7078 1.92692 12.3247 1.92692 12.7792 2.21924L21.3506 7.64352C21.7727 7.90337 22 8.3581 22 8.84531V20.1486C22 21.188 21.1883 22 20.1818 22ZM10.6364 14.8542H13.3312C14.3052 14.8542 15.1169 15.6663 15.1169 16.6407V20.1811C15.1169 20.5384 15.4091 20.8307 15.7662 20.8307H20.1818C20.539 20.8307 20.8312 20.5384 20.8312 20.1811V8.87779C20.8312 8.78035 20.7662 8.68291 20.7013 8.61795L12.1623 3.19367C12.0649 3.1287 11.9351 3.1287 11.8701 3.19367L3.2987 8.61795C3.2013 8.68291 3.16883 8.78035 3.16883 8.87779V20.2136C3.16883 20.5708 3.46104 20.8632 3.81818 20.8632H8.23377C8.59091 20.8632 8.88312 20.5708 8.88312 20.2136V16.6407C8.85065 15.6663 9.66234 14.8542 10.6364 14.8542Z" fill="#3056D3"></path>
                  </svg>
                </span>

                <span> Shop 009A, Level 4, Block A, Demo Park, Ottawa </span>
              </p>
              <p class="flex text-base font-medium text-body-color">
                <span class="pr-4">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.2402 13.7615C21.1683 12.9346 20.4852 12.3594 19.6584 12.3594H4.34301C3.51613 12.3594 2.869 12.9706 2.76114 13.7615L2.00616 21.3113C1.97021 21.7427 2.11402 22.2101 2.40163 22.5337C2.68924 22.8572 3.12066 23.037 3.58803 23.037H20.4493C20.8807 23.037 21.3121 22.8572 21.6357 22.5337C21.9233 22.2101 22.0671 21.7787 22.0312 21.3113L21.2402 13.7615ZM20.665 21.7068C20.629 21.7427 20.5571 21.8146 20.4133 21.8146H3.58803C3.48017 21.8146 3.37232 21.7427 3.33637 21.7068C3.30042 21.6708 3.22851 21.5989 3.26446 21.4551L4.01945 13.8693C4.01945 13.6896 4.16325 13.5817 4.34301 13.5817H19.6943C19.8741 13.5817 19.9819 13.6896 20.0179 13.8693L20.7729 21.4551C20.7369 21.563 20.7009 21.6708 20.665 21.7068Z" fill="#3056D3"></path>
                    <path d="M12.0007 15.166C10.5986 15.166 9.48413 16.2805 9.48413 17.6826C9.48413 19.0847 10.5986 20.1992 12.0007 20.1992C13.4028 20.1992 14.5173 19.0847 14.5173 17.6826C14.5173 16.2805 13.4028 15.166 12.0007 15.166ZM12.0007 18.9409C11.3177 18.9409 10.7424 18.3657 10.7424 17.6826C10.7424 16.9995 11.3177 16.4243 12.0007 16.4243C12.6838 16.4243 13.259 16.9995 13.259 17.6826C13.259 18.3657 12.6838 18.9409 12.0007 18.9409Z" fill="#3056D3"></path>
                    <path d="M2.86896 7.54318C2.94086 9.12504 4.34297 9.77217 5.062 9.77217H7.57861C7.61456 9.77217 7.61456 9.77217 7.61456 9.77217C8.6931 9.70027 9.77165 8.98124 9.77165 7.54318V6.68034C10.958 6.68034 13.6904 6.68034 14.8768 6.68034V7.54318C14.8768 8.98124 15.9553 9.70027 17.0339 9.77217H17.0698H19.5505C20.2695 9.77217 21.6716 9.12504 21.7435 7.54318C21.7435 7.43532 21.7435 7.03985 21.7435 6.68034C21.7435 6.39273 21.7435 6.14107 21.7435 6.10511C21.7435 6.06916 21.7435 6.03321 21.7435 6.03321C21.6357 5.02657 21.2761 4.19968 20.665 3.55256L20.629 3.51661C19.7302 2.68972 18.6517 2.22235 17.8248 1.93474C15.416 1 12.3961 1 12.2523 1C10.1312 1.03595 8.76501 1.21571 6.71577 1.93474C5.92484 2.1864 4.84629 2.65377 3.9475 3.48065L3.91155 3.51661C3.30038 4.16373 2.94086 4.99062 2.83301 5.99726C2.83301 6.03321 2.83301 6.06916 2.83301 6.06916C2.83301 6.14107 2.83301 6.35678 2.83301 6.64439C2.86896 6.96795 2.86896 7.39937 2.86896 7.54318ZM4.81034 4.37944C5.52937 3.73232 6.42816 3.33685 7.18314 3.04924C9.05262 2.36616 10.275 2.22235 12.3242 2.1864C12.468 2.1864 15.2722 2.22235 17.4293 3.04924C18.1843 3.33685 19.0831 3.69636 19.8021 4.37944C20.1976 4.81086 20.4493 5.38608 20.5212 6.06916C20.5212 6.17702 20.5212 6.35678 20.5212 6.64439C20.5212 7.0039 20.5212 7.39937 20.5212 7.50722C20.4852 8.33411 19.6943 8.51387 19.5864 8.51387H17.1058C16.7462 8.47791 16.171 8.33411 16.171 7.54318V6.06916C16.171 5.78155 15.9913 5.56584 15.7396 5.45799C15.5239 5.38609 9.23238 5.38609 9.01667 5.45799C8.76501 5.52989 8.58525 5.78155 8.58525 6.06916V7.54318C8.58525 8.33411 8.01003 8.47791 7.65051 8.51387H5.16986C5.062 8.51387 4.27107 8.33411 4.23512 7.50722C4.23512 7.39937 4.23512 7.0039 4.23512 6.64439C4.23512 6.35678 4.23512 6.21297 4.23512 6.10511C4.16321 5.38609 4.41487 4.81086 4.81034 4.37944Z" fill="#3056D3"></path>
                  </svg>
                </span>

                <span> +1-613-555-0182 </span>
              </p>
              <p class="flex text-base font-medium text-body-color">
                <span class="pr-4">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.0227 4H3.97727C2.88636 4 2 4.98345 2 6.19385V17.8061C2 19.0165 2.88636 20 3.97727 20H21.0227C22.1136 20 23 19.0165 23 17.8061V6.19385C23 4.98345 22.1136 4 21.0227 4ZM21.0227 5.32388C21.1932 5.32388 21.3295 5.3617 21.4659 5.47518L12.9773 11.1868C12.6705 11.3759 12.3295 11.3759 12.0227 11.1868L3.53409 5.47518C3.67045 5.39953 3.80682 5.32388 3.97727 5.32388H21.0227ZM21.0227 18.6383H3.97727C3.56818 18.6383 3.19318 18.26 3.19318 17.7683V6.79905L11.375 12.3215C11.7159 12.5485 12.0909 12.6619 12.4659 12.6619C12.8409 12.6619 13.2159 12.5485 13.5568 12.3215L21.7386 6.79905V17.7683C21.8068 18.26 21.4318 18.6383 21.0227 18.6383Z" fill="#3056D3"></path>
                  </svg>
                </span>

                <span> contact@yourmail.com </span>
              </p>
            </div>
          </div>
        </div>
        <div class="w-full px-4 sm:w-1/2 md:w-1/2 lg:w-4/12 xl:w-3/12">
          <div class="mb-16">
            <h3 class="mb-9 text-2xl font-semibold text-black">
              Shop Departments
            </h3>

            <ul class="space-y-3">
              <li>
                <a href="javascript:void(0)" class="inline-block text-base font-medium text-body-color hover:text-primary">
                  Computers &amp; Accessories
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="inline-block text-base font-medium text-body-color hover:text-primary">
                  Smartphones &amp; Tablets
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="inline-block text-base font-medium text-body-color hover:text-primary">
                  TV, Video &amp; Audio
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="inline-block text-base font-medium text-body-color hover:text-primary">
                  Cameras, Photo &amp; Video
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border-t border-[#e7e7e7] py-7">
    <div class="container mx-auto">
      <div class="text-center">
        <p class="mb-5 text-base font-medium text-body-color">
          © 2024 Aladdin. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>