<section class="py-10">
  <div class="container mx-auto">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4 lg:w-8/12">
        <div class="relative mb-8 h-[370px] md:h-[480px]">
          <%= image_tag('main-container', alt: "product", class: "h-full w-full object-cover object-center") %>

          <div class="absolute top-0 left-0 flex h-full w-full items-center px-8 md:px-12">
            <div class="max-w-[420px]">
              <h3>
                <a href="filters.html" class="mb-5 block text-2xl font-bold text-black hover:text-primary sm:text-4xl">
                  Mega Sale Up To 50% Off For All
                </a>
              </h3>
              <p class="mb-10 text-base font-medium text-body-color">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum ornare vestibulum mollis. Nam vitae augue purus.
                Integer ac accumsan nunc.
              </p>
              <a href="filters.html" class="inline-flex items-center justify-center rounded bg-primary py-[10px] px-8 text-center text-base font-semibold text-white hover:bg-opacity-90">
                Shop Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>